{% extends "base.html" %} {% block title %}Lista de Salones{% endblock %} {% block content%}
    <div class="container">
        <div class="row d-flex justify-content-center">
            {% if not user.eventhalls %}
            <div class="d-flex justify-content-center"><h1>Registra salones para que aparezcan aqui</h1></div>
            {% endif %}
            {% for eventhall in user.eventhalls %}
            <div class="container col-xl-3 col-lg-4 col-12 mx-2 my-2 rounded-3"
                style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); background-color: white;">
                <a href="#">
                    <div class="container d-flex justify-content-between" style="background-color: white;">
                        <img src="img/Pactum2.png" alt="">
                        <div class="container" style=" display: flex; flex-direction: column; justify-content:center;">
                            <div class="container col-12">
                                <Label style="font-weight: bold; color: #333;">{{eventhall.name}}</Label>
                            </div>
                            <div class="container mt-3 col-12">
                                <Label style="font-weight: bold; color: #333; ">{{eventhall.street_address}}{{eventhall.street_number}}</Label>
                            </div>
                            <div class="container mt-3 col-12">
                                <label style="font-weight: bold; color: #333;">{{eventhall.deposit_price}}</label>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="container col-xl-3 col-lg-4 col-12 mx-2 my-212 mt-2 rounded-3 d-flex justify-content-center align-items-center"
                style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); background-color: rgb(70, 123, 214);">
                <a href="/register/eventhall"><p style="font-size: xxx-large; color: #fff;">
                    {% if not user.eventhall %}
                    +Registar
                    {% else %}
                    +Agregrar
                    {% endif %}
                </p></a>
            </div>
        </div>
    </div>
</body>
{% endblock %}