{% extends "base.html" %}{% block title %}Inicio{% endblock %}{% block content%}
  <h1>Salones:</h1>
    <div id="eventhall-container">
        {% for eventhall in eventhalls %}
            <div class="eventhall">{{ eventhall.name }} </div>
            <div class="eventhall">{{ eventhall.reservation_price }}</div>
            <div class="eventhall">{{ eventhall.owner_id }}</div>
            <a href="/reserve/{{eventhall.id}}">reservar</a>
        {% endfor %}
    </div>
    <div id="loading-container"></div>
{% endblock %}