{% extends "base.html" %}{% block title %}Home{% endblock %}{% block content %}
<div class="container gap-3">
        <div class="row">
            {% if not eventhalls %}
            <h2 class="d-flex justify-content-center">No se encontraron salones</h1>
            {% endif %}
            {% for eventhall in eventhalls %}
            <div class="col-12 col-md-6 col-lg-4 pt-3">
                <!--Aca establezco tamaño y pocision de cada tarjeta en varias resoluciones -->
                <a href="/eventhall/{{eventhall.id}}" style="text-decoration: none;">
                    <div class="card" style="border-radius: 2%">
                        <img src="{{eventhall.thumbail.file_url}}" class="thumbail card-img-top"
                            alt="thumbail" style="border-radius: 2%;">
                        <div class="card-body d-flex align-items-center">
                            <div class="d-inline-block">
                                <img class="eventhall-logo" src="{{eventhall.logo.file_url}}" alt="">
                            </div>
                            <div class="px-4">
                                <h5 class="card-title" style="font-weight: bold;">{{eventhall.name}}</h5>
                                <h6>${{eventhall.reservation_price}}</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
    </div>


</body>
<style>
    .eventhall-logo {
        aspect-ratio: 1/1;
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    .thumbail {
        aspect-ratio: 16/9;
        object-fit: cover;

    }
    .card:hover .thumbail {
        filter: brightness(60%);
        transition: 500ms;
    }
</style>
{% endblock %}