{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
    <form method="POST" class="container">
        <div class="row ">
            <div class="container-fluid col-12 col-md-12 col-lg-6" style="background-color: white;">
                <div class="conteiner justify-content-center d-flex pb-4 mt-5 pt-lg-5 pt-md-3 pt-0" ><img style="width: 35%;" src="./img/LogIn.png" alt=""></div>
                <div class=" d-flex justify-content-center">
                    <div class="form-floating col-7">
                        <input type="email number" class="form-control rounded-0" name="email" placeholder="Email / Numero" class="form-control rounded-0 pt-5 mt-4 " style=" border: none;border-bottom: 3px solid rgb(148, 148, 148); outline: none;" />
                        <label for="floatingInput">Email</label>
                    </div>
                </div>
                <div class=" d-flex justify-content-center">
                    <div class="form-floating col-7 mt-5">
                        <input type="password" class= "form-control rounded-0" name="password" placeholder="Contraseña" class="form-control rounded-0 pt-5 mt-4 " style=" border: none;border-bottom: 3px solid rgb(148, 148, 148);"/>
                        <label for="floatingInput">Contraseña</label>
                    </div>
                </div>
                <div class=" d-flex justify-content-center">
                    <div class="form-group col-7 py-4 ">
                        <a href="/register">No tengo cuenta</a>
                    </div>
                </div>
                <div class=" d-flex justify-content-center ">
                    <div class="form-group pb-5 pt-5 pt-md-3">
                        <button  type="submit" style="background-color: #5349e2;" class=" w-20 col-12 btn btn-primary btn-lg rounded-5"><h5 class="px-4">Iniciar Sesion</h5></button>
                    </div>
                </div>
        </div>
    </form>
{% endblock %}