{% extends "base.html" %} {% block title %}Registrar salón{% endblock %} {% block content%}

<div class="container mt-5" style="max-width: 600px; background-color: white; padding: 30px; border-radius: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
    <h2 class="text-center mb-4" style="font-weight: bold; color: #333;">Datos del Salon</h2>
    <form method="POST" enctype="multipart/form-data" action="/register/eventhall">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="SalonesName" class="form-label" style="font-weight: bold;">Nombre del Salon</label>
                <input type="text" name="name" class="form-control" id="SalonesName" placeholder="Ingrese Nombre" style="border-radius: 5px;" maxlength="50" required>
            </div>
            <div class="col-md-6">
                <label for="depositPrice" class="form-label" style="font-weight: bold;">Precio</label>
                <input type="number" name="reservation_price" class="form-control" id="depositPrice" placeholder="Ingrese precio del salon" style="border-radius: 5px;" maxlength="10" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label" style="font-weight: bold;">Calle</label>
            <input type="text" name="street_address" class="form-control" id="location" placeholder="Ingrese calle del salon" style="border-radius: 5px;" maxlength="80" required>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label" style="font-weight: bold;">Número de calle</label>
            <input type="text" name="street_number" class="form-control" id="location" placeholder="Ingrese Numero" style="border-radius: 5px;" maxlength="10" required>
        </div>
        <!-- <div class="mb-3">
            <label for="description" class="form-label" style="font-weight: bold;">Descripcion del Salon</label>
            <textarea class="form-control" name="description" id="description" rows="3" placeholder="Ingrese Descripcion del Salon" style="border-radius: 5px;" maxlength="2200"></textarea required>
        </div> -->
        <div class="mb-3">
            <label for="alias" class="form-label" style="font-weight: bold;">Alias de Mercado Pago</label>
            <input type="text" name="alias" class="form-control" id="alias" placeholder="Ingrese Alias" style="border-radius: 5px;" maxlength="200" required>
        </div>
        <div>
            <label for="images" name="images" class="form-label" style="font-weight: bold;">Imagen del Salon</label>
            <input
            type="file"
            name="file"
            class="form-control"
            autocomplete="off"
            accept="image/png, image/gif, image/jpeg, image/webp, image/jpg" 
            required
          />
        </div>
        <div>
            <label for="SalonesName" class="form-label mt-2" style="font-weight: bold;">Descripcion</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Ingrese Descripcion del Salon" style="border-radius: 5px;"></textarea>
        </div>
        <label for="vehicle3">Reserva instantanea</label>
        <input type="checkbox" id="vehicle3" name="instant_booking" value=on/>       
        <div class="text-center">
            <button type="submit" class="btn btn-primary" style="width: 100%; border-radius: 5px; font-weight: bold;">Registrar</button>
        </div>
    </form>
</div>

<style>
    .nav-item:hover .nav-link {
        transition: 700ms;
        transform: scale(1.4);
        color: rgb(32, 50, 111); 
    }
    .nav-item{
        font-weight:500;
    }
    @media (max-width: 768px) {
        .container {
            max-width: 100vw;
            height: auto;
            margin: 0;
            padding: 20px;
            box-shadow: none;
            border-radius: 0;
        }
    }
</style>
</body>
</html>
{% endblock %}
