{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
  %}

  <form method="post" action="/upload" enctype="multipart/form-data">
    <dl>
      <p>
        <!------ Selector de salones ------>
        <select name="eventhallId" id="eventhalls-selector" required>
          {%for eventhall in user.eventhalls%}
            <option value="{{eventhall.id}}">{{eventhall.name}}</option>
          {%endfor%}
        </select>
        <!--------------------------------->
      </p>
      <p>
        <input
          type="file"
          name="file"
          class="form-control"
          autocomplete="off"
          accept="image/png, image/gif, image/jpeg, image/webp, image/jpg" 
          required
        />
      </p>
    </dl>
    <p>
      <input type="submit" value="Submit" class="btn btn-info" />
    </p>
  </form>
  {% endblock %}