{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
  %}

  <div class="grid-container">
    {%for image in eventhall.images%}
        <div class="grid-item">
          <a href="{{image.file_url}}">
            <img src="data:application/octet-stream;base64,{{image.file_data}}" alt="Image {{image.id}}">
          </a>
          <a href="/upload/delete/{{image.id}}">eliminar</a>
        </div>
    {%endfor%}
    <!-- Agrega más imágenes aquí -->
  </div>

    

  <form method="post" action="/upload/{{eventhall.id}}" enctype="multipart/form-data">
    <dl>
      <p>
        <input
          type="file"
          name="file"
          class="form-control"
          autocomplete="off"
          accept="image/png, image/gif, image/jpeg, image/webp, image/jpg" 
          required
        />
      </p>
    </dl>
    <p>
      <input type="submit" value="Submit" class="btn btn-info" />
    </p>
  </form>

  <style>
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el tamaño mínimo según sea necesario */
    grid-gap: 10px; /* Espaciado entre las imágenes */
    padding: 10px;
  }

  .grid-item {
    width: 100%; 
    overflow: hidden; /* Evita que los elementos desborden el contenedor */
  }

  .grid-item img {
    width: 100%;  /* Ajusta la imagen al ancho del contenedor */
    height: 200px; /* Ajusta la altura según lo que quieras */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción y llene el contenedor */
  }

  </style>
  
  {% endblock %}